*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.uppercontainer{
height: auto;
width: 100%;
border: 2px solid black;
background-image: linear-gradient(to right, red, green, yellow );
text-align: center;
}
.parent{
height: auto;
width: 60%;
border: solid red 2px;
border-radius: 20px;
background-color: aquamarine;
margin: auto;
margin-top: 10px;
text-align: center;
}
ul{
    display: inline-block;
}
li{
  padding-left: 40px;
}
.parent-1{
height: auto;
width: 100%;
background-color: aquamarine;
border: solid 1px brown;
border-radius: 8px;
margin-top: 10px;
flex-wrap: wrap;
display: flex;
justify-content: space-evenly;
font-size: 10px;
padding: 5px;
}
.box{
     width: 30%;
     height: 45px;
     border: 1px solid green;
     background-color: aqua;
     border-radius: 7px;
}
.parent-2{
    height: auto;
width: 100%;
border: 2px solid black;
background-image: linear-gradient(to right, red, yellow, red );
text-align: center;
margin-top: 10px;
}
.parent-3{
 height: 200px;
width: 100%;
border: solid 1px green;
margin-top: 10px;
display: flex;
justify-content: space-evenly;
font-size: 10px;
align-items: center;
background-image: radial-gradient(ellipse, rgb(70, 70, 121), green);

}
.box-2{
   border: solid 1px red; 
   width: 15%;
   height: 30%;
   background-color: yellow;
   border-radius: 7px;
   color: brown;
   text-align: center;
   padding-top: 10px;
}
.grid{
display: grid;
grid-template-columns: auto auto auto 100px;
grid-template-rows: auto auto;
gap: 10px;
margin-top: 10px;
margin-bottom: 10px;
color: white;


}
.grid-1{
height: auto;
width: 100%;
background-color: crimson;
text-align: center;
margin-top: 10px;
font-size: 10px;
color: white;  

}
.grid-2{
border: solid 1px black;
grid-column: 1/2;
grid-row: 1/2;
background-color: lightgreen;
}
.grid-3{
    border: solid 1px black;
    grid-column: 2/3;
grid-row: 1/2;
background-color: blue;
}
.grid-4{
    border: solid 1px black;
    grid-column: 3/4;
grid-row: 1/2;
background-color: darkblue;
}
.grid-5{
    border: solid 1px black;
    grid-column: 4/5;
grid-row: 1/3;
background-color: black;
}
.grid-6{
    border: solid 1px black;
    grid-column: 1/4;
grid-row: 2/3;
background-color: orange;
}
.grid-7{
    height: auto;
    width: 100%;
    background-color: aqua;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: black;  
}

